.contact-page {
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  text-align:center;
  margin: 20px;
  color: #069ab8;
  background-color: #ffffff;
}


.contact-page cu2 {
  font-size: 24px;
  text-align:center;
  margin: 20px;
  color: #069ab8;
}